@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --clr-1: #f1502f;
  --clr-2: #f5af19;
  --clr-3: #fbd786;
  --clr-4: #f7797d;
  --clr-5: #c6ffdd;
  --clr-6: #e71d36;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: linear-gradient(to top, var(--clr-1), var(--clr-2));
  min-height: 100vh;
  font-size: 24px;
  margin: 0;
  color: rgba(black, 0.7);
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.intro {
  display: grid;
  grid:
    'hello hello' 75vh
    'my-name-is simen' 125vh / max-content 1fr;
  margin-bottom: 60vh;
  grid-gap: 15px;
  font-size: 4em;
}
.intro-1 {
  grid-area: hello;
  align-self: center;
  position: sticky;
  top: 2em;
  margin-bottom: 1.5em;
}
.intro-2 {
  grid-area: my-name-is;
  font-weight: 900;
  font-style: italic;
  position: sticky;
  align-self: center;
  top: 3.5em;
}
.intro-3 {
  grid-area: simen;
  align-self: end;
  font-weight: 900;
  font-style: italic;
}
.css {
  text-align: center;
  margin-bottom: 60vh;
}

.git-commands {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid: 'text terminal' 1fr / 1fr 1fr;
  grid-gap: 1em;

  margin-bottom: 100vh;

  p {
    position: sticky;
    top: 20vh;
    grid-area: text;
    align-self: start;
  }
}
.git-terminal {
  grid-area: terminal;
  margin-top: 60vh;
  background: var(--clr-1);
  padding: 0.5em;
  position: relative;

  img {
    position: relative;
    z-index: 3;
  }

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(var(--clr-1), 94%, transparent 20%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
}
.suprise {
  color: #fff;
  position: sticky;
  bottom: 100px;
  margin-top: 3em;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}
