@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  --clr-1: #933ab4;
  --clr-2: #fd1d1d;
  --clr-3: #fcb045;
  --clr-4: #f7797d;
  --clr-5: #c6ffdd;
  --clr-6: #e71d36;
  --white: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--clr-1)), color-stop(var(--clr-2)), to(var(--clr-3)));
  background: linear-gradient(to top, var(--clr-1), var(--clr-2), var(--clr-3));
  min-height: 100vh;
  font-size: 24px;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.css {
  text-align: center;
  margin-bottom: 60vh;
  font-size: 7rem;
  color: var(--white);
}

.jedi {
  margin-bottom: 10vh;
  z-index: -1;
}

.git-commands {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid: 'text terminal' 1fr / 1fr 1fr;
  grid-gap: 1em;
  color: var(--white);
  margin-bottom: 100vh;
}

.git-commands p {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  grid-area: text;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.play-with-history {
  background: url("../img/octobiwan.png") no-repeat center center;
  background: cover;
  font-size: 2rem;
  padding: 2em;
  height: 180vh;
  position: relative;
}

.play-with-history p {
  z-index: 2;
  color: var(--white);
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.play-with-history::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

/* Gh pages */
.content {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

section {
  display: -ms-grid;
  display: grid;
  grid: auto / 200px 1fr;
  grid-gap: 0 2em;
}

section p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.section-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  text-align: right;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  top: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
}

.others {
  background: url("https://octodex.github.com/images/homercat.png") no-repeat center center;
  background: cover;
  font-size: 2rem;
  padding: 2em;
  height: 180vh;
  position: relative;
}

.others p {
  z-index: 2;
  color: var(--white);
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.others::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.team {
  background: url("https://octodex.github.com/images/front-end-conftocat.png") no-repeat center center;
  background: cover;
  font-size: 2rem;
  padding: 2em;
  height: 180vh;
  position: relative;
}

.team p {
  z-index: 2;
  color: var(--white);
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.team::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.history {
  background: url("../img/octobiwan.png") no-repeat center center;
  background: cover;
  font-size: 2rem;
  padding: 2em;
  height: 180vh;
  position: relative;
}

.history p {
  z-index: 2;
  color: var(--white);
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.history::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.keep-calm {
  background: url("https://octodex.github.com/images/femalecodertocat.png") no-repeat center center;
  background: cover;
  font-size: 2rem;
  padding: 2em;
  height: 180vh;
  position: relative;
}

.keep-calm p {
  z-index: 2;
  color: var(--white);
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.keep-calm::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.choppa {
  background: url("https://octodex.github.com/images/gangnamtocat.png") no-repeat center center;
  background: cover;
  font-size: 2rem;
  padding: 2em;
  height: 180vh;
  position: relative;
}

.choppa p {
  z-index: 2;
  color: var(--white);
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.choppa::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

/* Intro text */
.intro {
  display: -ms-grid;
  display: grid;
  grid: 'hello hello' 75vh 'you-ready git-it' 125vh / -webkit-max-content 1fr;
  grid: 'hello hello' 75vh 'you-ready git-it' 125vh / max-content 1fr;
  margin-bottom: 60vh;
  grid-gap: 15px;
  font-size: 4em;
}

.intro-1 {
  grid-area: hello;
  color: var(--white);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  margin-bottom: 1.5em;
}

.intro-2 {
  grid-area: you-ready;
  font-weight: 900;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 3.5em;
}

.intro-3 {
  grid-area: git-it;
  color: var(--white);
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 900;
  font-style: italic;
}

.intro-3 span {
  font-style: normal;
}

.space {
  margin: 12vh 0;
}
