@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  --clr-1: #F1502F;
  --clr-2: #f5af19;
  --clr-3: #FBD786;
  --clr-4: #f7797d;
  --clr-5:#C6FFDD;
  --clr-6: #E71D36;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--clr-1)), to(var(--clr-2)));
  background: linear-gradient(to top, var(--clr-1), var(--clr-2));
  min-height: 100vh;
  font-size: 24px;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.intro {
  display: -ms-grid;
  display: grid;
  grid: "hello hello" 75vh "my-name-is simen" 125vh / -webkit-max-content 1fr;
  grid: "hello hello" 75vh "my-name-is simen" 125vh / max-content 1fr;
  margin-bottom: 60vh;
  grid-gap: 15px;
  font-size: 4em;
}

.intro-1 {
  grid-area: hello;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  margin-bottom: 1.5em;
}

.intro-2 {
  grid-area: my-name-is;
  font-weight: 900;
  font-style: italic;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 3.5em;
}

.intro-3 {
  grid-area: simen;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 900;
  font-style: italic;
}

.css {
  text-align: center;
  margin-bottom: 60vh;
}
