@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  --clr-1: #F1502F;
  --clr-2: #f5af19;
  --clr-3: #FBD786;
  --clr-4: #f7797d;
  --clr-5:#C6FFDD;
  --clr-6: #E71D36;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--clr-1)), to(var(--clr-2)));
  background: linear-gradient(to top, var(--clr-1), var(--clr-2));
  min-height: 100vh;
  font-size: 5rem;
  margin: 0;
}
